<!DOCTYPE html>
<html lang="en" ng-app="LunchCheck">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lunch Check</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <style>
        .message {
            font-size: 20px;
            font-weight: bold;
        }
        .green {
            color: green;
        }
        .red {
            color: red;
        }
        .border-green {
            border: 2px solid green;
        }
        .border-red {
            border: 2px solid red;
        }
    </style>
</head>
<body ng-controller="LunchCheckController">
    <div>
        <h1>Lunch Checker</h1>
        <input type="text" ng-model="lunchItems" placeholder="Enter items separated by commas" ng-class="inputClass"><br><br>
        <button ng-click="checkLunch()">Check If Too Much</button>
        <p class="message" ng-class="messageClass">{{ message }}</p>
    </div>

    <script>
        (function() {
            'use strict';
            
            angular.module('LunchCheck', [])
            .controller('LunchCheckController', ['$scope', function($scope) {
                $scope.lunchItems = "";
                $scope.message = "";
                $scope.messageClass = "";
                $scope.inputClass = "";

                $scope.checkLunch = function() {
                    if (!$scope.lunchItems.trim()) {
                        $scope.message = "Please enter data first";
                        $scope.messageClass = "red";
                        $scope.inputClass = "border-red";
                        return;
                    }
                    
                    let items = $scope.lunchItems.split(',').filter(item => item.trim() !== "");
                    
                    if (items.length === 0) {
                        $scope.message = "Please enter data first";
                        $scope.messageClass = "red";
                        $scope.inputClass = "border-red";
                    } else if (items.length <= 3) {
                        $scope.message = "Enjoy!";
                        $scope.messageClass = "green";
                        $scope.inputClass = "border-green";
                    } else {
                        $scope.message = "Too much!";
                        $scope.messageClass = "green";
                        $scope.inputClass = "border-green";
                    }
                };
            }]);
        })();
    </script>
</body>
</html>
